<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>

  <body>
    <header class = "navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to  "sammple app",'#',id:"logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to  "Home", '#' %></li>
            <li><%= link_to  "Help", '#' %></li>
            <li><%= link_to  "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="content">
        <%= yield %>
    </div>
    
  </body>
</html>
